# Feature Engineering

In this notebook I'm gonna prepare the dataset for machine learning models

In [25]:
import pandas as pd

In [26]:
madrid_dataset = pd.read_pickle("01_data_interim.pkl")

In [27]:
madrid_dataset

,Season,Matchday,Home,Rival,Madrid_Goals,Rival_Goals,Madrid_Goals_FH,Rival_Goals_FH,Madrid_Win,Draw,Madrid_Lose,Over_2_5,Under_2_5,Total_Goals,FH_Goals,Result_HT,Result,Points
0,20,1,0,Celta Vigo,3,1,1,0,1650.0,4460.0,5100.0,1490,2760,4,1,W,W,3
1,20,2,1,Valladolid,1,1,0,0,1230.0,7320.0,13120.0,1400,3100,2,0,D,D,4
2,20,3,0,Villarreal,2,2,1,1,1940.0,4070.0,3730.0,1400,3110,4,2,D,D,5
3,20,4,1,Levante,3,2,3,0,1270.0,6800.0,9990.0,1260,4150,5,3,W,W,8
4,20,5,0,FC Sevilla,1,0,0,0,2640.0,3780.0,2580.0,1500,2720,1,0,D,W,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,23,34,1,Getafe,1,0,0,0,1600.0,4110.0,6320.0,2010,1900,1,0,D,W,71
148,23,35,0,Valencia,0,1,0,1,2250.0,3720.0,3240.0,1730,2220,1,1,L,L,71
149,23,36,1,Vallecano,2,1,1,0,1410.0,5140.0,8140.0,1540,2610,3,1,W,W,74
150,23,37,0,FC Sevilla,2,1,1,1,2310.0,3580.0,3220.0,1790,2120,3,2,D,W,77
151,23,38,1,Bilbao,1,1,0,0,1680.0,4380.0,4840.0,1560,2530,2,0,D,D,78

## Changing results to numerical values

In [28]:
#The target variable
res_val = []
for i in range(len(madrid_dataset)):
    if madrid_dataset['Result'].iloc[i] == 'W':
        res_val.append(2)
    elif madrid_dataset['Result'].iloc[i] == 'D':
        res_val.append(1)
    else:
        res_val.append(0)
if "res_val" not in madrid_dataset.columns:
        madrid_dataset.insert(17, "res_val", res_val, True)

In [29]:
res_val_ht = []
for i in range(len(madrid_dataset)):
    if madrid_dataset['Result_HT'].iloc[i] == 'W':
        res_val_ht.append(2)
    elif madrid_dataset['Result_HT'].iloc[i] == 'D':
        res_val_ht.append(1)
    else:
        res_val_ht.append(0)
if "res_val_ht" not in madrid_dataset.columns:
        madrid_dataset.insert(17, "res_val_ht", res_val_ht, True)

In [30]:
#Drop the unneeded features
madrid_dataset = madrid_dataset.drop('Result', axis = 1)
madrid_dataset = madrid_dataset.drop('Result_HT', axis = 1)
madrid_dataset = madrid_dataset.drop('Points', axis = 1)

## Make dummies for rivals

In [31]:
madrid_dataset.head()

,Season,Matchday,Home,Rival,Madrid_Goals,Rival_Goals,Madrid_Goals_FH,Rival_Goals_FH,Madrid_Win,Draw,Madrid_Lose,Over_2_5,Under_2_5,Total_Goals,FH_Goals,res_val_ht,res_val
0,20,1,0,Celta Vigo,3,1,1,0,1650.0,4460.0,5100.0,1490,2760,4,1,2,2
1,20,2,1,Valladolid,1,1,0,0,1230.0,7320.0,13120.0,1400,3100,2,0,1,1
2,20,3,0,Villarreal,2,2,1,1,1940.0,4070.0,3730.0,1400,3110,4,2,1,1
3,20,4,1,Levante,3,2,3,0,1270.0,6800.0,9990.0,1260,4150,5,3,2,2
4,20,5,0,FC Sevilla,1,0,0,0,2640.0,3780.0,2580.0,1500,2720,1,0,1,2

In [32]:
features = pd.get_dummies(madrid_dataset, columns=['Rival']).astype(int) 
features.head()

,Season,Matchday,Home,Madrid_Goals,Rival_Goals,Madrid_Goals_FH,Rival_Goals_FH,Madrid_Win,Draw,Madrid_Lose,...,Rival_Huesca,Rival_Leganes,Rival_Levante,Rival_Mallorca,Rival_Osasuna,Rival_Real Sociedad,Rival_Valencia,Rival_Valladolid,Rival_Vallecano,Rival_Villarreal
0,20,1,0,3,1,1,0,1650,4460,5100,...,0,0,0,0,0,0,0,0,0,0
1,20,2,1,1,1,0,0,1230,7320,13120,...,0,0,0,0,0,0,0,1,0,0
2,20,3,0,2,2,1,1,1940,4070,3730,...,0,0,0,0,0,0,0,0,0,1
3,20,4,1,3,2,3,0,1270,6800,9990,...,0,0,1,0,0,0,0,0,0,0
4,20,5,0,1,0,0,0,2640,3780,2580,...,0,0,0,0,0,0,0,0,0,0

In [33]:
column_to_move = features.pop("res_val")

# insert column with insert(location, column_name, column_value)

features.insert(0, "Result", column_to_move)

In [34]:
features

,Result,Season,Matchday,Home,Madrid_Goals,Rival_Goals,Madrid_Goals_FH,Rival_Goals_FH,Madrid_Win,Draw,...,Rival_Huesca,Rival_Leganes,Rival_Levante,Rival_Mallorca,Rival_Osasuna,Rival_Real Sociedad,Rival_Valencia,Rival_Valladolid,Rival_Vallecano,Rival_Villarreal
0,2,20,1,0,3,1,1,0,1650,4460,...,0,0,0,0,0,0,0,0,0,0
1,1,20,2,1,1,1,0,0,1230,7320,...,0,0,0,0,0,0,0,1,0,0
2,1,20,3,0,2,2,1,1,1940,4070,...,0,0,0,0,0,0,0,0,0,1
3,2,20,4,1,3,2,3,0,1270,6800,...,0,0,1,0,0,0,0,0,0,0
4,2,20,5,0,1,0,0,0,2640,3780,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2,23,34,1,1,0,0,0,1600,4110,...,0,0,0,0,0,0,0,0,0,0
148,0,23,35,0,0,1,0,1,2250,3720,...,0,0,0,0,0,0,1,0,0,0
149,2,23,36,1,2,1,1,0,1410,5140,...,0,0,0,0,0,0,0,0,1,0
150,2,23,37,0,2,1,1,1,2310,3580,...,0,0,0,0,0,0,0,0,0,0
151,1,23,38,1,1,1,0,0,1680,4380,...,0,0,0,0,0,0,0,0,0,0

In [35]:
features.to_pickle("01_data_processed.pkl")